h1, h2 {
    text-align: center;
}

#arena {
    border: 2px solid black;
}

#selectedOptions {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

img {
    display: block;
    border: 2px solid black;
}