body{
    font-family: 'Righteous', cursive;
}


h1, h2 {
    text-align: center;
    color:white;
}

h1{
    padding: 10px;
    background-color: rgb(7, 94, 97);
    color: white;
    text-shadow: gray 2px 2px;
}

body{
    background-color: rgb(190, 51, 51);
}

h3{
    text-align: center;
}

#body-game{
    background-color: rgba(241, 245, 248, 0.6);
    border: 2px solid black;
    width: 90%;
    padding: 20px;
    margin: auto;
}

#arena {
    border: 2px solid black;
    width: 90%;
}

#selectedOptions {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

#paper-button {
    margin-bottom: 10px;
}

#rock-button {
    margin-bottom: 10px;
}

img {
    display: block;
    border: 2px solid black;
}

#body-game{
    display: flex;
    justify-content: space-around;
}

#reset{
    display: block;
    margin: auto;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: rgb(7, 94, 97);
    color: white;
    padding: 10px;
    box-shadow: gray 2px 2px;
    border: none;
    font-family: 'Righteous', cursive;
}